<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Main" parallel="tests">
  <test name="PRNGs Parallel" parallel="instances">
    <classes>
      <class name="io.github.pr0methean.betterrandom.prng.AesCounterRandomTest"/>
      <class name="io.github.pr0methean.betterrandom.prng.CellularAutomatonRandomTest"/>
      <class name="io.github.pr0methean.betterrandom.prng.Cmwc4096RandomTest"/>
      <class name="io.github.pr0methean.betterrandom.prng.MersenneTwisterRandomTest"/>
      <class name="io.github.pr0methean.betterrandom.prng.Pcg64RandomTest"/>
      <class name="io.github.pr0methean.betterrandom.prng.RandomWrapperAesCounterRandomTest"/>
      <class name="io.github.pr0methean.betterrandom.prng.RandomWrapperMersenneTwisterRandomTest"/>
      <class name="io.github.pr0methean.betterrandom.prng.RandomWrapperRandomTest"/>
      <class name="io.github.pr0methean.betterrandom.prng.RandomWrapperSecureRandomTest"/>
      <class name="io.github.pr0methean.betterrandom.prng.XorShiftRandomTest"/>
      <class
        name="io.github.pr0methean.betterrandom.prng.adapter.SingleThreadSplittableRandomAdapterTest"/>
    </classes>
  </test>
  <test name="PRNGs Sequential">
    <classes>
      <class
        name="io.github.pr0methean.betterrandom.prng.ReseedingThreadLocalRandomWrapperMersenneTwisterTest"/>
      <class name="io.github.pr0methean.betterrandom.prng.ReseedingThreadLocalRandomWrapperTest"/>
      <class
        name="io.github.pr0methean.betterrandom.prng.ReseedingThreadLocalRandomWrapperFailingSeedGeneratorTest"/>
      <class
        name="io.github.pr0methean.betterrandom.prng.ThreadLocalRandomWrapperMersenneTwisterTest"/>
      <class name="io.github.pr0methean.betterrandom.prng.ThreadLocalRandomWrapperTest"/>
      <class
        name="io.github.pr0methean.betterrandom.prng.adapter.ReseedingSplittableRandomAdapterTest"/>
      <class name="io.github.pr0methean.betterrandom.prng.adapter.SplittableRandomAdapterTest"/>
    </classes>
  </test>
  <test name="Misc" parallel="methods">
    <classes>
      <class name="io.github.pr0methean.betterrandom.prng.AesCounterRandomDemoTest"/>
      <class name="io.github.pr0methean.betterrandom.prng.BaseRandomStaticTest"/>
      <class name="io.github.pr0methean.betterrandom.util.BinaryUtilsTest"/>
      <class name="io.github.pr0methean.betterrandom.util.LooperThreadTest"/>
      <class
        name="io.github.pr0methean.betterrandom.prng.adapter.ReseedingSplittableRandomAdapterDemoTest"/>
    </classes>
  </test>
</suite>
